
body{
    background-image: url("../img/trash-bg.png");
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20px;
}

.kõik {
    background-color: #B4C7B4;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    max-width: 80%;
    min-width: 1400px;
}

.squares {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.square{
    display: inline-block;
    background-color: #96B49B ;
    width: 600px;
    height: 800px;
    position: relative;
}

#square1{
    display: inline-block;
    background-color: #5C540C ;
    width: 600px;
    height: 800px;
    vertical-align: top;
}

#square3{
    display: inline-block;
    background-color: #56734C ;
    width: 1200px;
    height: 200px;
}

#square4{
    display: inline-block;
    background-color: #5A5F5B ;
    width: 600px;
    height: 600px;
    vertical-align: top;
    color: #252525;
}

.kast{
    display: inline-block;
    background-color: #B4C7B4;
    width: 600px;
    height: 600px;
    background-size: 380px 530px;
    background-repeat: no-repeat;
    background-position: center;
}

.kast a{
    display: inline-block;
    width: 600px;
    height: 600px;
}


#square6{
    display: inline-block;
    background-color: #664F36;
    width: 600px;
    height: 600px;
    vertical-align: top;
}

#square5{
    display: inline-block;
    background-color: #009551;
    width: 600px;
    height: 600px;
    vertical-align: top;
    color: #00421A;
}

#square7{
    display: inline-block;
    background-color: #FFF050;
    width: 600px;
    height: 600px;
    vertical-align: top;
    color: #554714;
}

#square8{
    display: inline-block;
    background-color: #1FBFEE;
    width: 600px;
    height: 600px;
    vertical-align: top;
    color: #00526B;
}

#square9{
    display: inline-block;
    background-color: #00A1D5;
    width: 600px;
    height: 600px;
    vertical-align: top;
    color: #00386B;
}

.pilt{
    padding: 10px;
    width: auto;
    height: auto;
    position: relative;
    margin-top: 40%;
    margin-left: 16.5%;
    height: 530px;
    width: 380px;
}

.pilt1{
    padding: 10px;
    position: relative;
    margin-bottom: 8%;
    margin-left: 16.5%;
    height: 530px;
    width: 380px;
}

.tekst {
    position: absolute;
}

.hele_tekst{
    font-family:'Times New Roman', Times, serif ;
    font-size: 120px;
    color: #56734C;
    margin: 0 0 -19px 0;
    padding-left: 5%;

}

.tume_tekst{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    color: #5C540C;
    margin: 0 0 -10px 0;
    padding-left: 5%;
}

.nupud {
    position: relative;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
}


.nupp{
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-flex;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    margin: 10px;
    text-align: center;
}
#olme {
    background-color: #797474;
}
#bio {
    background-color: #826C21;
}
#klaas {
    background-color: #57975E; 
}
#plast {
    background-color: #F1E46F;
}
#papp {
    background-color: #347F97;
}

.tekstike{
    font-size: 160%;
    text-align: justify;
    padding: 5%;
    margin-top: -5%;
    font-family: math;
}

.pealkirjake{
    padding-left: 5%;
    font-size: 360%;
}

#pealkirjake1{
    font-size: 300%;
    font-family:'Times New Roman', Times, serif;
    padding-left: 1.5%;
    margin-top: 5px;
}

#tekstike1{
    padding-left: 1.5%;
    font-size: 175%;
    font-family: math;
}

#olmekast {
    background-image: url("../img/Olmejäätmed1.png");
}
#olmekast:hover {
    background-image: url("../img/Olmejäätmed.png");
}
#biokast {
    background-image: url("../img/Biojäätmed1.png");
}
#biokast:hover {
    background-image: url("../img/Biojäätmed.png");
}
#klaaskast {
    background-image: url("../img/Klaastaara1.png");
}
#klaaskast:hover {
    background-image: url("../img/Klaastaara.png");
}
#plastkast {
    background-image: url("../img/plastpakend1.png");
}
#plastkast:hover {
    background-image: url("../img/plastpakend.png");
}
#vanakast {
    background-image: url("../img/Vanapaber1.png");
}
#vanakast:hover {
    background-image: url("../img/Vanapaber.png");
}
#pakendkast {
    background-image: url("../img/Pakend1.png");
}
#pakendkast:hover {
    background-image: url("../img/Pakend.png");
}
#quiz {
    background-image: url("../img/Prügikast.png");
    display: inline-block;
    width: 600px;
    height: 800px;
    background-size: 380px 530px;
    background-repeat: no-repeat;
    background-position: center;
}

#slider{
    position:relative;
    overflow:hidden;
    margin: 10px;
    }
    .slide{
    width:100%;
    display:none;
    animation-name:fade;
    animation-duration:1s;
    }
    img{
        width: 1200px;
        max-height: 670px;
    }
    @keyframes fade{
    from{opacity:0.5;}
    to{opacity:1;}
    }
    .controls{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:3.5em;
    padding:15px 10px;
    border-radius:5px;
    }
    .controls:hover{
    background:white;
    transition:0.3s;
    }
    .controls:active{
    color:grey;
    }
    #left-arrow{
    left:10px;
    }
    #right-arrow{
    right:10px;
    }
    @media (max-width:576px){
    #slider{width:100%;
    }
    .controls{
      font-size:1em;
    }
    }