
body{

    display: flex;
    margin: 0 auto;
    height: 100vh;
    width:auto;
    background-color: #B4C7B4;
    padding: 3%;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

.square{
    display: inline-block;
    background-color: #96B49B ;
    width: 600px;
    height: 800px;

}

.square1{
    display: inline-block;
    background-color: #5C540C ;
    width: 600px;
    height: 800px;
    vertical-align: top;
}

.square3{
    display: inline-block;
    background-color: #56734C ;
    width: 1204px;
    height: 200px;
    margin-bottom: 4px;
}

.square4{
    display: inline-block;
    background-color: #5A5F5B ;
    width: 600px;
    height: 600px;
    vertical-align: top;
}

.square2{
    display: inline-block;
    background-color: #B4C7B4;
    width: 600px;
    height: 600px;
}


.square6{
    display: inline-block;
    background-color: #664F36;
    width: 600px;
    height: 600px;
    vertical-align: top;
}

.square5{
    display: inline-block;
    background-color: #009551;
    width: 600px;
    height: 600px;
    vertical-align: top;
}

.square7{
    display: inline-block;
    background-color: #FFF050;
    width: 600px;
    height: 600px;
    vertical-align: top;
}

.square8{
    display: inline-block;
    background-color: #1FBFEE;
    width: 600px;
    height: 600px;
    vertical-align: top;
}

.square9{
    display: inline-block;
    background-color: #00A1D5;
    width: 600px;
    height: 600px;
    vertical-align: top;
}

.pilt{
    padding: 10px;
    width: auto;
    height: auto;
    position: relative;
    margin-top: 40%;
    margin-left: 16.5%;
    height: 530px;
    width: 380px;
}

.pilt1{
    padding: 10px;
    position: relative;
    margin-bottom: 8%;
    margin-left: 16.5%;
    height: 530px;
    width: 380px;
}

.tekst {
    position: absolute;
    padding-left: 20px;
}

.hele_tekst{
    font-family:'Times New Roman', Times, serif ;
    font-size: 120px;
    color: #56734C;
    margin: 0 0 -19px 0; 

}

.tume_tekst{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    color: #5C540C;
    margin: 0 0 -10px 0;
}

.nupud {
    position: relative;
    display: flex;
    flex-direction:row;
    align-items: flex-start;

}


.nupp{

    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    height: 80px;
    width: 220px;
    margin: 10px;
    text-align: center;
}
#olme {
    background-color: #797474;
}
#bio {
    background-color: #826C21;
}
#klaas {
    background-color: #57975E; 
}
#plast {
    background-color: #F1E46F;
}
#papp {
    background-color: #347F97;
}


#tekstike{
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    text-align: justify;
    padding: 5%;
    margin-top: -5%;

}

#pealkirjake{
    padding-left: 5%;
    font-size: 380%;
    
}

#pealkirjake1{
    font-size: 300%;
    font-family:'Times New Roman', Times, serif;
    padding-left: 1.5%;
    margin-top: 5px;
}

#tekstike1{
    padding-left: 1.5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 175%;
    
    
}