body{

    display: flex;
    margin: 0 auto;
    height: 100vh;
    width:auto;
    background-color: #B6B6B6 ;
    padding: 2%;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden; 
}

.kastid{

    display: inline-block;
    background-color: #D0D0D0;
    width: 680px;
    height: 450px;
    margin: 8px;
    margin-top: 20%;
    border-radius: 7%;
    

}

.pealkiri{
    font-size: 360%;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 0 -15px 0; 
    padding-left: 42%;
}

.tekst{
    font-size: 120%;
    padding-left: 3%;
    
}

